<h1>Listing SynapsePay accounts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @list.each do |account| %>
      <tr>
        <td><%= account['client']['name'] %></td>
        <td><%= account['logins'][0]['email'] %></td>
        <td><%= account['phone_numbers'][0] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>